<div class="page-container horizontal-menu" >
<div class="main-content" >
    <div class="clearfix">
      <div class="col-sm-3">
        <div class="tile-stats tile-red">
          <div class="icon"><i class="entypo-users"></i></div>
          <div class="num" ng-model="client.totalcount">{{client.totalcount}}</div>
         <h3>New Leads</h3>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="tile-stats tile-green">
          <div class="icon"><i class="entypo-chart-bar"></i></div>
          <div class="num" ng-model="client1.count">{{client1.count}}</div>
          <h3>Inprocess Leads</h3>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="tile-stats tile-aqua">
          <div class="icon"><i class="entypo-mail"></i></div>
          <div class="num" ng-model="client3.total">{{client3.total}}</div>
          <h3>Verified Leads </h3>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="tile-stats tile-blue">
          <div class="icon"><i class="entypo-rss"></i></div>
          <div class="num" ng-model="client2.count2">{{client2.count2}}</div>
          <h3>Not Verified Leads</h3>
        </div>
      </div>
     </div>
</div>
</div>
 